<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings/>
	<connectionStrings>

		<add name="ConnectionString" connectionString="PRovider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\工程备份\test5\pixChange\Rources\雨量信息.mdb;Jet OLEDB:Database PassWord=123" providerName="System.Data.OleDb"/>
	</connectionStrings>
	<!--DataDirectory 可以理解为程序运行目录-->
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
